// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//colors

$white:       #f4f4f4;
$light-grey:  #c6c6c6;
$grey:        #858585;
$dark-grey:   #494949;
$black:       #212121;
