// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------


.footer {
  background: $light-grey;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
