// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------


.footer {
  background: $black;
  background-image: url("../img/headerBG.png");
  background-size: contain;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .socialIcons {
    color: $white;
    i {
      font-size: 50px;
      margin: 10px;
    }
    a {
      color:white;
    }
  }
}
