// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


// .header{
//   background: $black;
//   background-image: url("../img/headerBG.png");
//   background-size: contain;
//   height: 30vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   color:$white;
//   p{
//     max-width: 50%;
//     text-align: center;
//     margin-top: 20px;
//   }
// }

.header {
    position: relative;
    height: 100vh;
    display: flex;
    /*min-width: 720px;*/
}

.searchbar{
  input{
    border: none;
    padding: 10px;
    margin: 10px;
    width: 35%;
    background: rgba($white, 0.2);
    color: $light-grey;
    font-size: 15px;
    &:focus{
      outline: none;
    }
  }
  button{
    border: none;
    background: rgba($white, 0.2);
    color: $light-grey;
    font-size: 15px;
    padding: 5px 10px;
    letter-spacing: 2px;
    &:hover{
      background: rgba($white, 0.5);
      color: $light-grey;
      letter-spacing: 6px;
      transition: letter-spacing .2s linear;
    }
  }
}

.coverVidText {
  font-weight: lighter;
  letter-spacing: 2px;
  max-width: 80%;
  position: absolute;
  font-size: 15px !important;
  text-align: center;
  line-height: 1;
  top: 45%;
  left: 10%;
  bottom: 0;
  margin: auto;
  color: $white;
  p{
    margin: 10px auto;
  }
}
.masthead-video {
    z-index: 0;
    width: 100vw;
    object-fit: cover;
    min-height: 500px;
}

.fa-chevron-down{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 15vh;
  font-size: 30px;
  a{
    opacity: .3;
  }
}
