.chevrons{
  position: relative;
  top: 475px;
  padding: 0 8% 0 8%;
  display: flex;
  color: $dark-grey;
  font-size: 35px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
