// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  padding: 0px;
  margin: 0px;
  background: $dark-grey;
  font-family: sans-serif;
}


/**
 * Basic styles for links
 */

ul{
  list-style: none;
}

a {
  text-decoration: none;
  color: $white;
  &:hover{
    color:red;
  }
}
